<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ description }} </p>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Que tal?, {{user.name}}</h1>
      <p clsss="lead">A continuacion, te presentamos las distintas opciones que tienes a tu disposición</p>
      <p> </p>
      <p>Verifica si tu dispositivo esta encendido o apagado, ademas, puedes modificar esto a tu gusto</p>
      <iframe src="https://asksensors.com/actuatorfs.html?s=4251&m=7676&uid=W0OashokGXvcq97CJrUgdFOvCBSQC0" width="40%" height="20%" type="text/html" style="border:none;"></iframe>

    </div>
  </div>
  {{/each}}
</div>